<div class="keypad">
  <app-key (action)="onClearClick()" id="clear" symbol="AC" type="clear"/>
  <app-key (action)="onDeleteClick()" id="delete" symbol="C" type="delete"/>
  <app-key (action)="onOperatorClick($event)" id="divide" symbol="÷" type="operator"/>
  <app-key (action)="onOperatorClick($event)" id="multiply" symbol="×" type="operator"/>
  <app-key (action)="onOperatorClick($event)" id="add" symbol="+" type="operator"/>
  <app-key (action)="onOperatorClick($event)" id="subtract" symbol="−" type="operator"/>
  <app-key (action)="onNegateClick()" id="negate" symbol="+/-" type="negate"/>
  <app-key (action)="onEqualsClick()" id="equals" symbol="=" type="equals"/>
  <app-key (action)="onDigitClick($event)" id="exponent" symbol="e" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="decimal" symbol="." type="digit"/>
  <app-key (action)="onDigitClick($event)" id="zero" symbol="0" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="one" symbol="1" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="two" symbol="2" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="three" symbol="3" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="four" symbol="4" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="five" symbol="5" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="six" symbol="6" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="seven" symbol="7" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="eight" symbol="8" type="digit"/>
  <app-key (action)="onDigitClick($event)" id="nine" symbol="9" type="digit"/>
</div>
