<div class="Keypad">
  <button class="Key clear" id="clear">C</button>
  <button class="Key delete" id="delete">AC</button>
  <button class="Key operator" id="divide">/</button>
  <button class="Key operator" id="multiply">*</button>
  <button class="Key operator" id="add">+</button>
  <button class="Key operator" id="subtract">-</button>
  <button class="Key equals" id="equals">=</button>
  <digit-key id="decimal" symbol="."></digit-key>
  <digit-key id="zero" symbol="0"></digit-key>
  <digit-key id="one" symbol="1"></digit-key>
  <digit-key id="two" symbol="2"></digit-key>
  <digit-key id="three" symbol="3"></digit-key>
  <digit-key id="four" symbol="4"></digit-key>
  <digit-key id="five" symbol="5"></digit-key>
  <digit-key id="six" symbol="6"></digit-key>
  <digit-key id="seven" symbol="7"></digit-key>
  <digit-key id="eight" symbol="8"></digit-key>
  <digit-key id="nine" symbol="9"></digit-key>
</div>
